---
title: Beach Landscapes | HONR 297 Project
---

<%=partial 'partials/header' %>
<%=partial 'partials/navigation' %>
<div id="content">
  <h1>Beach Quiz goes here</h1>
  <%=partial 'partials/lorem' %>
</div>
<%=partial 'partials/footer' %>