header {
    a {
        text-decoration: none;
        color: $color-secondary-1-4;
    }
    
    display: flex;
    flex-flow: row nowrap;
    position: relative;
    height: 70px;
    background-color: $color-primary-1;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    align-content: center;

    div {
        height: 100%;
    }

    div.nav-slideout-icon {
        flex-basis: 70px;
        flex-grow: 0;
        flex-shrink: 0;
        cursor: pointer;

        position: relative;
        padding-left: 10px;
        img {
            max-width: 60px;
            max-height: 100%;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }
    div.site-logo {
        flex-basis: auto;
        flex-grow: 1;
        flex-shrink: 1;
        margin-left: 20px;
        margin-right: 10px;
        position: relative;
        align-self: flex-start;

        a {
            text-align: right;
            position: relative;
            height: 70px;
            display: inline-block;
            width: auto;
            float: right;

            h1 {
                vertical-align: top;
                display: inline-block;
                margin-right: 20px;
                line-height: 70px;
            }
            img {
                display: inline-block;
                max-width: 60px;
                max-height: 100%;
                margin-top: 5px;
            }
        }
    }
}