* {
    font-family: Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import "colors";
@import "header";
<<<<<<< Updated upstream
@import "content";
@import "quiz";
=======
@import "navigation";
>>>>>>> Stashed changes
