---
title: Glacial Landscapes | HONR 297 Project
---

<%=partial 'partials/header' %>
<div id="content">
  <h1>Glacial content and quiz goes here</h1>
  <%=partial 'partials/lorem' %>
</div>
<%=partial 'partials/footer' %>