---
title: Beach Landscapes | HONR 297 Project
---

<%=partial 'partials/header' %>
<%=partial 'partials/navigation' %>
<div id="content">
    <h1>Beach content and quiz goes here</h1>
    <p></p>
    <p></p>
    <p></p>
    <div class="button-container">
        <a href="../quizes/beach.html" class="button">Go To Quiz</a>
    </div>
</div>
<%=partial 'partials/footer' %>