---
title: Volcanic Landscapes | HONR 297 Project
---

<%=partial 'partials/header' %>
<div id="content">
  <p>Volcanic content and quiz goes here</p>
  <%=partial 'partials/lorem' %>
</div>
<%=partial 'partials/footer' %>