---
title: Desert Landscapes | HONR 297 Project
---

<%=partial 'partials/header' %>
<div id="content">
  <p>Desert content and quiz goes here</p>
  <p onclick="var desertQuiz = new Quiz('../javascripts/quizzes/sample.json');">create new quiz</p>
  <%=partial 'partials/lorem' %>
</div>
<%=partial 'partials/footer' %>