<header>
    <div class="nav-slideout-icon">
        <img alt="hamburger-menu" src="../images/hamburger-menu.png" />
    </div>
    <div class="site-logo">
        <a href="/index.html">
            <h1>Geo Explorer</h1>
            <img alt="icon" src="../images/icon_512.png"/>
        </a>
    </div>
</header>