<div class="navigation nav-hidden">
    <div class="header">
        <h2 class="title">Geo Explorer</h2>
        <a class="close-nav">
            <img src="../images/back-arrow.png"/>
        </a>
    </div>
    <div class="landscapes sub-nav-block">
        <h3 class="title">Landscapes</h3>
        <a>Beach Landscape</a>
        <a>Desert Landscape</a>
        <a>Glacial Landscape</a>
        <a>Karst Landscape</a>
        <a>Tundra Landscape</a>
        <a>Volcanic Landscape</a>
    </div>
    <div class="features sub-nav-block">
        <h3 class="title">Land Features</h3>
        <a>Caves</a>
        <a>Mountains</a>
        <a>Reefs</a>
        <a>River Bends</a>
    </div>
    <div class="quizes sub-nav-block">
        <h3 class="title">Interactive Quizes</h3>
        <a>Beaches</a>
        <a>Deserts</a>
        <a>Glacial Areas</a>
        <a>Karst</a>
        <a>Tundras</a>
        <a>Volcanos</a>
    </div>
</div>