<div class="carousel-area">
    <div class="slick-carousel">
        <div class="item">
            <img src="../images/Glacier.png"/>
            <p>Matanuska Glacier</p>
        </div>
        <div class="item">
            <img src="../images/Karst.png"/>
            <p>Minerve Herault, France</p>
        </div>
    </div>
</div>